# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
testenv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# VS Code / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage 
.pytest_cache/
.coverage
htmlcov/
db.sqlite3
.env*
staticfiles/
